*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 900px;
    height: 450px;
    max-width: 100%;
    background-color: rgb(24, 56, 48);
    padding: 10px 0;
    margin: 145px auto;
    border: 3px solid rgba(0, 255, 0, 0.495);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}
h1{
    text-align: center;
    color: white;
}
h1 span{
    text-align: center;
    padding: 15px 0;
    color: white;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    margin-top: 20px;
}
.row button{
    margin: 0 10px;
}
.row input{
    margin: 0 10px;
    padding: 15px 0;
    width: 100px;
    font-size: 22px;
    text-align: center;
    outline: none;
}
.row input:focus{
    border: 1px solid black;
}
.btn{
    width: 110px;
    max-width: 100%;
    padding: 15px 0;
    outline: none;
    background-color: rgba(0, 130, 130, 0.737);
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s ease;
}
.btn:hover{
    background-color: white;
    color: rgba(0, 130, 130, 0.737);
}
.result{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.7;
}
#msg{
    text-align: center;
    font-size: 20px;
}
.guess{
    color: white;
}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#msg{
    margin-top: 10px;
    width: 95%;
    border-radius: 50px;
}